body{
    margin: 0;
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgb(10, 24, 33);  
}
.header_logo{
    padding-top: 15px;
    margin-left: 70px;
}
.left{
    float: left;
}
.right{
    padding-top: 5px;
    padding-left: 65%;
}
.track{
    float: left;
    margin-right: 20px;
    font-weight: bolder;
}
.design_note{
    border: 2px solid rgb(255, 255, 255);
   padding: 10px 20px;
   font-weight:bolder;
}
.infos{
    padding-top: 20px;
    float: left;
    color: rgb(255, 255, 255);
}
.login{
    color: rgb(255, 255, 255);
    font-size:small; 
}
.imgs{
    padding-top: 15px;
    margin-left: 20px;
    float: left;
}
.login{
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.cr_img{
    margin-top: 40px;
    margin-left: 80px;
    width: 91%;
    border-radius: 12px;
}
.design_area{
    display: inline-block;
}
.heading{
    padding-top: 70px;
    text-align: center;
    color: #4f4f4f;
    padding-bottom: 30px;
}
#img1{
    margin-left: 150px;
    float: left;
}
.steps{
    padding-top: 70px;
    margin-left: 900px;
}
.steps p{
    font-size:large;
    font-weight: bold;
    color: #4f4f4f;
}
.steps ol{
    padding-top: 70px;
}
.steps li{
    padding-bottom: 30px;
    font-size:medium;
    color: gray;
}
.design_button{
    padding: 15px 50px;
    background-color: rgb(11, 11, 85);
    border-radius: 50px;
    font-size: medium;
    color: white;
    font-weight: bold;
    align-self:center;
}
.capture{
    display:inline-flex;
}
.vd_area{
    padding-top: 100px;
    padding-left: 300px;
}
.vd_notes{
    padding: 200px;
    text-align: center;
}
.vd_notes p{
      font-size: 20px;
     line-height: 27px;
     color: #4f4f4f;
}
.vd_notes h2{
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color:  #4f4f4f;
}
.des_selection{
    display: inline-block;
    background-color:rgb(219, 210, 232);
    width: 100%;
    margin-top: 25px;
}
.choose_head{
    text-align: center;
    color:  #4f4f4f;
}
.note{
    padding:20px 175px;
    display:inline-block;
    align-items: center;
}
.note p{
    text-align:center;
}
.note button{
    margin-top: 30px;
    display: block;
    margin-left: 20%;
    margin-bottom: 100px;
}
.ar_left{
    padding-left: 130px;
    padding-top: 20px;
    float: left;
}
.ar_right{
    text-align: center;   
    padding-top:220px;   
}
.ar_right h3{
    font-weight: 700;
    color: rgb(49, 48, 51);
}
.artist button{
    margin-left: 400px;
    margin-top: 20px;
}
.cr_left{
 padding-top: 130px;
 padding-left: 80px;
 padding-right: 200px;
    float: left;  
}
.cr_left p{
    padding-top: 10px;   
}
.cr_left button{
    margin-top: 10px;
}
.cr_right{
   margin-top: 250px;
}
.earn{
    padding-top: 100px;
    background-color:rgb(219, 210, 232);
}
.er_left{
    float: left;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 200px;
}
.er_left p{
    color: #2B3044;
    margin-top: 30px;
    margin-bottom: 30px;   
}
.special{
 height: 430px;
}
.sp_left{
    float: left;
    margin-top: 10px;
    margin-left: 70px;
}
.sp_right{
    margin-left: 900px;
    padding-top: 150px; 
}
.sp_right p{
    padding-top: 15px;
    padding-bottom: 15px;
}
.ai{
    background: url(https://classmateshop.com/_next/static/media/AiHomeBanner2.64b8e484.png);
}
.ai_left{
    padding-top: 200px;
    float: left;
    color: white;
    padding-left: 150px;
    padding-right: 50px;
}
.ai button{
    margin-top: 30px;
    padding:15px 60px;
    border-radius: 20px;
    font-weight: bold;
    font-size: medium;
}
.ai_right{
    padding-top: 80px;
}
.ai img{
    height: 500px;
}
.footer{
    background-color: rgb(0, 23, 34);
}
.footer table{
    color: white;
    width: 100%;
    padding-left: 100px;
    border-spacing: 10px;
}
.ft_logo{
    height: 45px;
}
.contact{
    background-color: white;
    height: 20px;
    margin-right: 10px;
}
.review{
    text-align: center;
}
.r_img1{
    border-radius: 50%;
}
.r_img2{
    height: 100px;
}