body{
    margin: 0;
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgb(10, 24, 33);  
}
.header_logo{
    margin-top: 15px;
    margin-left: 70px;
}
.left{
    float: left;
}
.right{
    padding-top: 30px;
    padding-left: 65%;
}
.track{
    float: left;
    margin-right: 20px;
    font-weight: bolder;
}
.design_note{
    border: 2px solid rgb(255, 255, 255);
   padding: 10px 20px;
   font-weight:bolder;
}
.infos{
    float: left;
    color: rgb(255, 255, 255);

}
.login{
    color: rgb(255, 255, 255);
    font-size:small;
   
}
.imgs{
    margin-left: 30px;
    float: left;
  
}
.lg_sg{
    padding-left:20px;

}
.cr_img{
    margin-top: 40px;
    margin-left: 80px;
    width: 91%;
    border-radius: 12px;

}
.design_area{
    display: inline-block;
}
.heading{
    padding-top: 70px;
    text-align: center;
    color: #4f4f4f;
}
#img1{
    margin-left: 150px;
    float: left;
}
.steps{
    padding-top: 70px;
    margin-left: 900px;
    
}
.steps p{
    font-size:large;
    font-weight: bold;
    color: #4f4f4f;
}
.steps ol{
    padding-top: 70px;
}
.steps li{
    padding-bottom: 30px;
    font-size:medium;
    color: gray;
}
.design_button{
    padding: 15px 50px;
    background-color: rgb(11, 11, 85);
    border-radius: 50px;
    font-size: medium;
    color: white;
    font-weight: bold;
    align-self:center;
}
.capture{
    display:inline-flex;
}
.vd_area{
    padding-top: 100px;
    padding-left: 300px;
}
.vd_notes{
    padding: 200px;
    text-align: center;
}
.vd_notes p{
      font-size: 20px;
     line-height: 27px;
     color: #4f4f4f;
}
.vd_notes h2{
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color:  #4f4f4f;
}
.des_selection{
    display: inline-block;
    background-color: #0dcaf0;
    width: 100%;

}
.choose_head{
    text-align: center;
    color:  #4f4f4f;
}
.note{
    padding:20px 175px;
    display:inline-block;
    align-items: center;
}
.note p{
    text-align:center;
}
.note button{
    margin-top: 30px;
    display: block;
    margin-left: 20%;
    margin-bottom: 100px;

}
.atist{
    display: block;
    align-items: center;
}

